.container {
	margin: 10vh auto 0;
	max-width: 85vw;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
button {
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #222831 !important;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
label {
	color: #ececec;
}

input {
	background-color: #ececec;
}

.logout-button {
	position: absolute;
	top: 20px;
	right: 20px;
	border-radius: 9%;
	background-color: #f2a365;
	border: none;
	color: #30475e;
	font-weight: bold;
}
.logout-button:hover {
	opacity: 0.7;
}

.navbar {
	top: 0 !important;
}
